.big-container {
    font-weight: bolder;
    font-size: 60px;
    font-family: Russo One;
    border-top-right-radius: 40px;
    border: 15px solid black;
    border-left: none;
    border-bottom: none;
    margin-bottom: 80px;
    padding: 20px 500px 20px 0px;
}
body {
    overflow-x: hidden;
    font-family: Titillium Web;
    background-color: var(--bg-color);
    padding: 0;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    width: 100%;
  }

  .page-wrapper {
    margin: 150px 300px 100px 300px;
  }

.race-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


  .player-info {
    display: flex;
    justify-content: space-between;

  }

  .race-box {
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    border: 5px solid black;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}
.player-box:hover {
    border-color: red;
    border-width: 2px;
}

/* Rank Top Left */
.rank-label {
    text-align: start;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.header-section {
    display: flex;
    justify-content: space-between;
    margin: 7px;
}
/* Points Top Right */
.score-section {

    text-align: right;
}

.score-number {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.score-unit {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}


.title-name {
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-align: start;
}

.display-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.team-logo img {
    justify-self: start;
    margin-top: 10px;
    color: #777;
    height: 80px;
    width: 80px;
}

.country-flag img {

    width: 55px;
    height: 30px;
    margin-top: 5px;
    margin-right: 15px;
}

/* Player Image */
.player-photo img {
    position: relative;
    bottom: 0;
    right: 60px;
    width: 270px;
    height: 280px;
}

.player-photo {
    height: 300px;

}


.divider-line {
  width: 100%;
  height: 1px; /* Line thickness */
  background-color: #ccc; /* Grey color */
  margin: 7px auto; /* Add some spacing */
  border-radius: 1px; /* Slightly rounded edges */
}
.picture-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

